<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/mahaa/IdeaProjects/Almatar_TestNG_1/src">
        <classes>
            <class name="Tests.HomeTest">
                <methods>
                    <include name="verifyLanguageToggle"/>
                    <include name="verifyHomepageNavigation"/>
                </methods>
            </class>
            <class name="Tests.HotelsTest">
                <methods>
                    <include name="verifyHotelsForm"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>